---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="About me">
  <div class="flex flex-col gap-2">
    <p class="text-sm font-light">
      Hi, I'm Jules, an engineering student from France.
      <br />
      My expertise lies in:
      <ul class="list-disc list-inside">
        <li>C/C++</li>
        <li>Python</li>
        <li>JavaScript</li>
        <li>PHP</li>
        <li>MySQL</li>
        <li>Node.js</li>
        <li>HTML/CSS</li>
      </ul>
    </p>
    <p class="text-sm font-light">
      Through hands-on projects and dedicated learning, I've 
      gained a solid grasp of these languages. I'm excited to 
      continue expanding my knowledge and contributing to 
      innovative solutions in the field of development.
    </p>
  </div>
</Card>
